/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2014, 14:38:22
    Author     : smaily.prado
*/
//para implementação do Speed Reader
#closeOverlay {
    height: 38px;
    width: 38px;
    top: 1%;
    left: 1%;
    margin-top: 1%;
    margin-left: -19px; /* metade da largura */
    position: absolute;
}

#arrow {
    height: 32px;
    width: 32px;
    top: 5%;
    left: 50%;
    margin-top: 5%;
    margin-left: -16px; /* metade da largura */
    position: absolute;
}

#display{
  /* arbitrary styling */
  background-color: #efefef;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  height: 140px;
  width: 340px;
  
  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  top: 50%;
  left: 50%;
  margin-top: -70px; /* metade da altura */
  margin-left: -170px; /* metade da largura */
  position: absolute;
  border: 2px solid lightgray;
}

#wordToRead {
    background-color: white;
    font-size: 30px;
    color: #000;
    height: 50px;
    width: 300px;
    top: 70%;
    left: 50%;
    margin-top: -40px; /* metade da altura */
    margin-left: -150px; /* metade da largura */
    position: absolute;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 12px;
}

.red {
    color: red;
}

.blur {
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px); 
    -o-filter: blur(2px); 
    -ms-filter: blur(2px); 
    filter: blur(2px);
}
