/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2014, 14:38:22
    Author     : smaily.prado
*/


//para implementação do Speed Reader

#content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#textToRead { 
    margin-top: 20px;
    width: 80%;
    height: 400px;
}

#start-reading-group {
    margin-top: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#overlay {
    background-color: rgba(255,255,255,0.8); /*dim the background*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.blur {
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px); 
    -o-filter: blur(2px); 
    -ms-filter: blur(2px); 
    filter: blur(2px);
}

#overlay{
    text-align: center;
}

#wordToRead {
    font-size: 30px;
    color: #000;
    top: 10%;
    position: relative;
}

#arrow {
    margin-top: 9%;
    position: relative;
}

.red {
    color: red;
}

#closeOverlay {
    margin-top: 9%;
    margin-left: 35%;
    width: 25px;
    height: 25px;
    position: absolute;
    display: none;
}

#camada {
    width: 400px;
    height: 100px;
    position: absolute;
    background-color: #269abc;
}

#popup {
    width: 200px;
    height: 50px;
}